.contsinerMain {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    background: #fff;

    &::before {
        @media screen and (min-width: 768px) {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: 110px;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            background: #97d28B;
        }

        @media screen and (min-width: 1280px) {
            height: 87px;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 100px;
    }

    @media screen and (min-width: 1280px) {
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 120px;
    }
}

.mainTitle {
    margin-bottom: 24px;
    color: #173D33;
    font-family: Oswald;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(28/28);
    text-transform: uppercase;


    @media screen and (min-width: 768px) {
        width: 272px;
        font-size: 36px;
    }

    @media screen and (min-width: 1280px) {
        width: 365px;
        font-size: 48px;
    }
}

.mainText {
    color: #173D33;
    text-align: justify;
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;

    @media screen and (min-width: 768px) {
        width: 342px;
    }

    @media screen and (min-width: 1280px) {
        width: 459px;
    }
}