@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Oswald-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Oswald-Bold.ttf");
}